@font-face {
  font-family:"harryp" ;
  src: url(../font/HarryP-MVZ6w.ttf)format(truetype);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'harryP', sans-serif;
}

body{
  background-color: azure;
}

header {
background-color: 67AE6E;
height: 60px;
/*padding: top right buttom left ;*/
padding: 20px 0px 0px 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.logo{
font-size:xx-large;
color:FFFDF6 ;

}

.drop-contect{

    
    box-sizing: 15px 15px ;
    background-color: #E1EEBC;
    margin-right: 15px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    border: 2px #328E6E double;
    box-shadow: 0px 0px 14px 0px black;
    
}

#cardContainer{
  border: 2px solid #328E6E;
  margin: 15px;
  padding: 15px;
  display: flex;
  /*flex-direction: column;
  flex-direction: column-reverse; reverse the card from buttom to top */
  flex-wrap: wrap;
} 

.card{
    border: 2px solid #328E6E;
    width: 235px;
    height: 300px;
    padding: 25px;
    margin: 15px 0px 0px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E1EEBC;
    border-radius: 50px;
    
}

.card:hover {
    transform: translateY(-13px);
    border: 2px solid black;
}

.card-content{
margin-top: 15px;
padding: 15px;

}

.card-name{
  padding: 4px;
  
}

.card-house{
  padding: 4px;
}

.card-Brith{
  border-bottom: 2px solid black;
  padding: 4px;
}


footer {
  background-color: rgba(53, 137, 41, 0.6);
  color: #FFFDF6;
  text-align: center;
  padding: 14px 0px 0px 0px;
  font-size: x-large;
  width: 100%;
}